{% extends 'base.html.twig' %}
{% block title %}Twój trening siłowy{% endblock %}
{% block resources %}
{% endblock %}
{% block body %}
	<a href="{{ path('create_my_strength_training') }}">Poprzednia strona</a>
	<h3 class="text-center">{{ training }}</h3>
	{{ form_start(form) }}
	<ul class="exersises" data-prototype="{{ form_widget(form.myExercises.vars.prototype)|e('html_attr') }}">
		{% for myExercise in form.myExercises %}
			<li>
				{{ form_row(myExercise.name) }}
				<a href="#" class="removeLink">usuń</a>
			</li>
		{% endfor %}
	</ul>
	<button type="submit" class="btn-success btn saveTraining" name="button">Zapisz</button>
	{{ form_end(form) }}

	{% block scripts %}
        <script src="{{ asset('javascript/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('javascript/add_my_training.js') }}"></script>
	{% endblock %}
{% endblock %}
