{% extends 'base.html.twig' %}
{% block title %}Twój trening siłowy{% endblock %}
{% block resources %}
{% endblock %}
{% block body %}
	<a href="{{ path('add_training') }}">Poprzednia strona</a>
	<ul class="list-group trainingList">
		{% for strengthTraining in strengthTrainings %}
				<li id="{{ loop.index0 }}" class="list-group-item">
					<a href="{{ path('strength_training_exercise') }}/{{ category }}/{{ strengthTraining.id }}">{{ strengthTraining.name }}</a>
				</li>
		{% endfor %}
	</ul>
	{% block scripts %}
	{% endblock %}
{% endblock %}
