{% extends 'base.html.twig' %}
{% block title %}Twój trening siłowy{% endblock %}
{% block resources %}
{% endblock %}
{% block body %}
	<a href="{{ path('strength_category') }}/{{ category }}">Poprzednia strona</a>
	<p class="text-center">{{ training }}</p>
	<ul class="list-group">
		{% for exercise in exercises %}
			<a href="#" class="exercise" id="{{ exercise.id }}">
				<li class="list-group-item">{{ exercise.name }}</li>
			</a>
		{% endfor %}
	</ul>
	{% for key, form  in formsView %}
	<!-- Modal -->
	<div class="modal fade" id="myModal{{ key }}" role="dialog" class="myModal">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header" style="padding:35px 50px;">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="exerciseName text-center"></h4>
		  </div>
		  <div class="modal-body" style="padding:40px 50px;">

			  {{ form_start(form) }}
			  <ul class="series {{ key }}" data-prototype="{{ form_widget(form.seriesTraining.vars.prototype)|e('html_attr') }}">
				  {% for seriesTrainin in form.seriesTraining %}
					  <li>
						  {{ form_row(seriesTrainin.reps) }}
						  {{ form_row(seriesTrainin.kgLoad) }}
						  {{ form_row(seriesTrainin.series) }}
					  </li>
				  {% endfor %}
				  <div class="hide hidenExerciseId"></div>
			  </ul>

				<button class="nextButton" type="button" name="button">Następna seria</button>
		  </div>
		  <div class="modal-footer">
					<button type="submit" class="btn btn-success btn-default" name="button{{ key }}">Zapisz</button>
				{{ form_end(form) }}


		  </div>
		</div>
	  </div>
	  </div>
	  {% endfor %}

	{% block scripts %}
        <script src="{{ asset('javascript/jquery-3.2.1.min.js') }}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{{ asset('javascript/add_user_exercises.js') }}"></script>
	{% endblock %}
{% endblock %}
