{% extends 'base.html.twig' %}
{% block title %}Twój trening{% endblock %}
{% block resources %}
	<link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-3">
			<img class="profilePicture" src="{{ asset(''~profileImage.profileImage) }}" />
			{{ form_start(imageForm) }}
			{{ form_row(imageForm.profileImage) }}
			{{ form_end(imageForm) }}
		</div>
		<div class="col-md-4">
			<div class="boldText">Moj profil:</div><a href="" id="editData">edytuj</a></br>
				{{ form_start(dataForm) }}
					{{ form_row(dataForm.age, { 'attr': { 'readonly': 'true' }}) }}
				<div class="row">
					<div class="col-md-4"><label for="change_user_data_weight" class="label control-label required"></label>Waga</div>
					<div class="input-group col-md-6">
						{{ form_row(dataForm.weight, { 'attr': { 'readonly': 'true', 'value': userData.weight }}) }} <div class="input-group-addon">kg</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"><label for="change_user_data_height" class="label control-label required"></label>Wzrost</div>
					<div class="input-group col-md-6">
						{{ form_row(dataForm.height, { 'attr': { 'readonly': 'true', 'value': userData.height }}) }} <div class="input-group-addon">cm</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"><label for="change_user_data_calories" class="label control-label required"></label>Zapotrzebowanie kaloryczne</div>
					<div class="input-group col-md-6">
						{{ form_row(dataForm.calories, { 'attr': { 'readonly': 'true', 'value': userData.calories }}) }} <div class="input-group-addon">kcal</div>
					</div>
				</div>
				<button type="button" class="btn btn-success" name="button">Zapisz zmiany</button>
				{{ form_end(dataForm) }}
		</div>
		<div class="col-md-4">
			<div class="boldText">Moje konto:</div>
			<div class="">
				{{ form_start(emailForm) }}
			</span><a href="" class="editEmail">edytuj</a></br>
					{{ form_row(emailForm.email, { 'attr': { 'readonly': 'true', 'value': email}}) }}
					<button type="button" class="btn btn-success emailBtn" name="button">Zapisz zmiany</button>
				{{ form_end(emailForm) }}
			</div>
			<div class="">
				hasło: </span><a class="showForm" href="">zmień hasło</a></br>
			</div>
			<div class="hide hiddenForm">
				{{ form_start(changePasswordForm) }}
				<div class="">
					{{ form_row(changePasswordForm.oldPassword) }}
					{{ form_row(changePasswordForm.newPassword) }}
				</div>
					<button type="submit" class="btn btn-success" name="button">Zapisz zmiany</button>
				{{ form_end(changePasswordForm) }}
			</div>
		</div>

	</div>
	{% block scripts %}
		<script type="text/javascript" src="{{ asset('javascript/account.js') }}"></script>
	{% endblock %}
{% endblock %}
