{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <main class="">
        <div class="calendar">
            {{ form_start(form) }}
            <div class="input-group">
                {{ form_row(form.pickedDate, {'value': pickedDate })  }}
                <div class="input-group-addon" value="{{ pickedDate }}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div class="chart col-md-4" id="graph" data-percent="">
                <span class="centerText"></span>
            </div>
            <div class="normalText col-md-4">
                Zapotrzebowanie <span class="dailyCalories">{{ dailyCalories }}</span> kcal<br>
                Białko <span class="protein">{{ userMacroNutrients[0]['protein'] }}</span> g <span class="pProtein"></span><br>
                Węglowodany <span class="carbohydrates">{{ userMacroNutrients[0]['carbohydrates'] }}</span> g <span class="pCarbohydrates"></span><br>
                Tłuszcze <span class="fat">{{ userMacroNutrients[0]['fat'] }}</span> g <span class="pFat"></span><br>
                Spożyte kalorie <span class="currentCalories">{{ userMacroNutrients[0]['calories'] }}</span> kcal</br>
                Pozostało {{ dailyCalories - userMacroNutrients[0]['calories'] }} kcal
            </div>
            <div class="myTrainings col-md-4">
                <h4>Dzisiejsze treningi</h4>
                <h5>Siłowy
                    <a href="{{ path('add_training') }}">
                        <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> trening</button>
                    </a>
                </h5>
                <ul class="StrengthTrainingList">
                    {% for userStrengthTraining in userStrengthTrainings %}
                        {% if userStrengthTraining.trainingId == true %}
                            <li><a href="{{ path('user_trainings') }}">{{ userStrengthTraining.trainingId.name }}</a></li>
                        {% endif %}
                        {% if userStrengthTraining.myTrainingId == true %}
                            <li><a href="{{ path('user_trainings') }}">{{ userStrengthTraining.myTrainingId.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h5>Cardio
                    <a href="{{ path('add_training') }}">
                        <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> trening</button>
                    </a>
                </h5>
                <ul class="StrengthTrainingList">
                    {% for userCardio in userCardios %}
                        <li><a href="{{ path('user_trainings') }}">{{ userCardio.trainingId.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="meals row">
          {% for key, val in meals %}
            <div class="meal col-md-2 col-sm-4 col-sm-4">
                {{ val }}<br>
                <a href="{{ path('product_categories') }}/sniadanie">
                    <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in products[key] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
          {% endfor %}
        </div>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <div class="alert {% if alert is defined %}{{ alert }}{% endif %}">{{ message }}</div>
            </div>
        {% endfor %}
    </main>
    {% block scripts %}
        <script src="{{ asset('javascript/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('javascript/homepage.js') }}"></script>
        <script src="{{ asset('javascript/radial-progress-bar.js') }}"></script>
        <script src="{{ asset('javascript/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('javascript/calendar.js') }}"></script>
    {% endblock %}

{% endblock %}
