{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <main class="">
        <div class="row">
            <div class="chart col-md-3" id="graph" data-percent="{{ percentCalories }}">
                <span class="centerText">{{ percentCalories }}%</span>
            </div>

            <div class="normalText col-md-3">
                Zapotrzebowanie {{ dailyCalories }} kcal<br>
                Białko {{ protein }} g <span class="pProtein">{{ percentProtein }}%</span><br>
                Węglowodany {{ carbohydrates }} g <span class="pCarbohydrates">{{ percentCarbohydrates }}%</span><br>
                Tłuszcze {{ fat }} g <span class="pFat">{{ percentFat }}%</span><br>
                Spożyte kalorie {{ currentCalories }} kcal</br>
                Pozostało {{ caloriesLeft }} kcal
            </div>
            <div class="myTrainings col-md-3">
                <h4>Dzisiejsze treningi</h4>
                <h5>Siłowe</h5>
                <ul class="StrengthTrainingList">
                    {% for userStrengthTraining in userStrengthTrainings %}
                        {% if userStrengthTraining.trainingId == true %}
                            <li><a href="{{ path('user_trainings') }}">{{ userStrengthTraining.trainingId.name }}</a></li>
                        {% endif %}
                        {% if userStrengthTraining.myTrainingId == true %}
                            <li><a href="{{ path('user_trainings') }}">{{ userStrengthTraining.myTrainingId.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h5>Cardio</h5>
                <ul class="StrengthTrainingList">
                    {% for userCardio in userCardios %}
                        <li><a href="{{ path('user_trainings') }}">{{ userCardio.trainingId.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="calendar col-md-2">
                {{ form_start(form) }}
                <div class="input-group">
                    {{ form_row(form.pickedDate, {'value': pickedDate })  }}
                    <div class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="meals row">
            <div class="meal col-md-2">
                Śniadanie<br>
                <a href="{{ path('product_categories') }}/sniadanie">
                    <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Dodaj produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in meals['breakfast'] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton">Usuń</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="meal col-md-2">
                Lunch<br>
                <a href="{{ path('product_categories') }}/lunch"><button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Dodaj produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in meals['lunch'] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton">Usuń</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="meal col-md-2">
                Obiad<br>
                <a href="{{ path('product_categories') }}/obiad">
                    <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Dodaj produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in meals['dinner'] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton">Usuń</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="meal col-md-2">
                Kolacja<br>
                <a href="{{ path('product_categories') }}/kolacja">
                    <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Dodaj produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in meals['supper'] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton">Usuń</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="meal col-md-2">
                Przekąski<br>
                <a href="{{ path('product_categories') }}/przekaski">
                    <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Dodaj produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in meals['snacks'] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton">Usuń</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="meal col-md-2">
                Inne<br>
                <a href="{{ path('product_categories') }}/inne">
                    <button class="addProduct"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Dodaj produkt</button>
                </a>
                <ul class="productList list-group">
                    {% for product in meals['other'] %}
                        <li class="productItem list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('product_add') }}/{{ product.productId }}">{{ product.name }}</a>
                                    <div class="text-muted small">{{ product.quantity }} g</div>
                                    <div class="text-muted small">{{ product.calories }} kcal</div>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('deleteProduct') }}/{{ product.id }}" class="btn btn-danger btn-xs deleteButton">Usuń</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <div class="alert {% if alert is defined %}{{ alert }}{% endif %}">{{ message }}</div>
            </div>
        {% endfor %}
    </main>

    {% block scripts %}
        <script src="{{ asset('javascript/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('javascript/radial-progress-bar.js') }}"></script>
        <script src="{{ asset('javascript/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('javascript/calendar.js') }}"></script>
    {% endblock %}

{% endblock %}
