{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
	<main>
		{{ form_start(form) }}
		<div class="hiddenInfo hide">
			{{ form_row(form.water) }}
			{{ form_row(form.sodium) }}
			{{ form_row(form.potassium) }}
		</div>
		{{ form_rest(form) }}
		<div class="addMore">
			<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
			<span>Dodaj więcej info</span>
		</div>
		<div class="moreInfo"></div>
		<button type="submit" class="btn btn-success center-block addMyProductBtn">Dodaj produkt</button>
		{{ form_end(form) }}
		{% for message in app.flashes('notice') %}
			<div class="flash-notice">
				<div class="alert alert-success">{{ message }}</div>
			</div>
		{% endfor %}
	</main>
	{% block scripts %}
		<script src="{{ asset('javascript/my-products-add.js') }}"></script>
	{% endblock %}
{% endblock %}
