{% extends 'base_form.html.twig' %}
{% import "forms/macros/form_elements.html.twig" as formElements %}
{% block title %}Rejestracja{% endblock %}
{% block body %}
  {{ form_start(form) }}
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
      {{ form_row(form.plainPassword.first) }}
      {{ form_row(form.plainPassword.second) }}
      {{ form_row(form.termsAccepted) }}
      {% for message in app.flashes('error') %}
      <div class="flash-error">
      {{ message }}
      </div>
      {% endfor %}
      {{ formElements.recaptcha("6Lc7eDAUAAAAAH94e9XGkdPZlUzdBt8SlSYOIlQq")}}
      <button type="submit">Zarejestruj się!</button>
  {{ form_end(form) }}
{% endblock %}
