{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
{% block body %}
    <a href="{{ path('homepage') }}">Poprzednia strona</a>
    <div class="sidebar-search" data-path="{{ path('ajax_search') }}">
        <div class="input-group custom-search-form">
            <input type="text" id="search" class="form-control" placeholder="Wyszukaj produkt">
        </div>
        <!-- /input-group -->
    </div>
    <ul class="nav" id="side-menu">
        <li>
            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>
        </li>
  </ul>

	<ul class="list-group">
		{% for category in categories %}
    		<li class="list-group-item">
                <a href="{{ path('product_category') }}/{{category.name}}">{{category.name}}</a>
            </li>
		{% endfor %}
	</ul>


    {% block scripts %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ asset('javascript/productSearcher.js') }}"></script>

    {% endblock %}
{% endblock %}
