{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}
{% block body %}
    <div class="row productContainer">
        <div class="col-md-6">
            <ul class="productList list-group">
                <table>
                    <tr><th>{{ product.name }}/100g</th></tr>
                    <tr>
                        <td>wartosc energetyczna kcal</td>
                        <td>{{ product.calories }}</td>
                        <td>woda g</td>
                        <td>{{ product.water }}</td>
                    </tr>

                </table>

            </ul>
        </div>
        <div class="col-md-3">
            <div class="nutrients">
                <div class="productForm">
                    <div class="productInfo"></div>
                    {{ form_start(form) }}
                        {{ form_row(form.productId) }}
                        {{ form_row(form.quantity, { 'attr': { 'maxlength': '6', 'value': 100 }}) }}
                        <div id="error"></div>
                        <table class="table table-striped">
                            <tr>
                                <td>Kalorie</td>
                                    <td class="calories">
                                        {{ form_row(form.calories, { 'attr': { 'readonly': 'true', 'value': product.calories }}) }}
                                    </td>
                            </tr>
                            <tr>
                                <td>Białko</td>
                                <td class="protein">
                                    {{ form_row(form.totalProtein, { 'attr': { 'readonly': 'true', 'value': product.totalProtein }}) }}
                                </td>
                            </tr>
                            <tr>
                                <td>Węglowodany</td>
                                <td class="carbohydrates">
                                    {{ form_row(form.carbohydrates, { 'attr': { 'readonly': 'true', 'value': product.carbohydrates }}) }}
                                </td>
                            </tr>
                            <tr>
                                <td>Tłuszcze</td>
                                <td class="fat">
                                    {{ form_row(form.fat, { 'attr': { 'readonly': 'true', 'value': product.fat }}) }}
                                </td>
                            </tr>
                        </table>
                        <div class="hide hiddenMeal">{{ meal }}</div>
                        {{ form_row(form.meal) }}
                        {{ form_row(form.add) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {% block scripts %}
        <script src="{{ asset('javascript/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('javascript/add_product.js') }}"></script>
    {% endblock %}
{% endblock %}
