{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}{% endblock %}
{% block body %}
	<a href="{{ path('product_categories') }}/{{ meal }}">
		<span class="glyphicon glyphicon-arrow-left gi-2x"></span></a>
	<ul class="list-group">
		{% for subcategory in subcategories %}
			<a href="{{ path('product_subcategory') }}/{{subcategory.name}}">
				<li class="list-group-item">
					{{subcategory.name}}
				</li>
			</a>
		{% endfor %}
	</ul>
{% endblock %}
