{% extends 'base.html.twig' %}
{% block title %}Logowanie{% endblock %}
{% block body %}
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path('login') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />

      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" name="_password" />

      <input type="hidden" name="_target_path" value="/account" />
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <br />
      <button type="submit" class="btn btn-secondary btn-lg btn-block">login</button>
  </form>

  <a href="{{ path('user_registration') }}">Nie masz konta? Zarejestruj się!</a>

  <br>
  <a href="{{ path('logout') }}">Wyloguj się!</a>
{% endblock %}
